.card {
	width: 60rem;
	margin: auto;
	background: white;
	position: center;
	align-self: center;
	justify-content: center;
	border-radius: 1.5rem;
	box-shadow: 4px 3px 20px #3535358c;
	display: flex;
	flex-direction: row;
	border-radius: 25px;
}

.leftside {
	background: #030303;
	width: 30rem;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-top-left-radius: 1.5rem;
	border-bottom-left-radius: 1.5rem;
}

.products {
	object-fit: cover;
	width: 100%;
	border-top-left-radius: 1.5rem;
	border-bottom-left-radius: 1.5rem;
	height: 100%;
}

.rightside {
	background-color: #ffffff;
	color: #030303;
	width: 35rem;
	border-bottom-right-radius: 1.5rem;
	border-top-right-radius: 1.5rem;
	padding: 1rem 2rem 3rem 3rem;
}

p {
	display: block;
	font-size: 1.1rem;
	font-weight: 400;
	margin: 0.3rem 0;
}

.inputbox {
	color: #ccc;
	width: 100%;
	padding: 0.5rem;
	border: none;
	border-bottom: 1.5px solid #ccc;
	margin-bottom: 1rem;
	border-radius: 0.3rem;
	font-family: 'Roboto', sans-serif;
	font-size: 1.1rem;
	font-weight: 500;
	outline: none;
}

.inputbox2 {
	color: #ccc;
	width: 100%;
	padding: 0.5rem;
	border: none;
	border-bottom: 1.5px solid #ccc;
	margin-bottom: 1rem;
	border-radius: 0.3rem;
	font-family: 'Roboto', sans-serif;
	font-size: 1.1rem;
	font-weight: 500;
	outline: none;
}

.expcvv {
	display: flex;
	justify-content: space-between;
	padding-top: 0.6rem;
}

.expcvv_text {
	padding-right: 1rem;
}
.expcvv_text2 {
	padding: 0 1rem;
}

.button {
	background: linear-gradient(135deg, #753370 0%, #298096 100%);
	padding: 10px;
	border: none;
	border-radius: 50px;
	color: white;
	font-weight: 400;
	font-size: 1.2rem;
	margin-top: 10px;
	width: 50%;
	letter-spacing: 0.11rem;
	outline: none;
}

.button:hover {
	transform: scale(1.05) translateY(-3px);
	box-shadow: 3px 3px 6px #38373785;
}

@media only screen and (max-width: 1000px) {
	.products {
		display: none;
	}

	.card {
		flex-direction: column;
		width: auto;
		border-radius: 25px;
	}

	.rightside {
		width: auto;
		border-bottom-left-radius: 1.5rem;
		border-top-left-radius: 1.5rem;

		padding: 0.5rem 3rem 3rem 2rem;
	}
}
